.content-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.product-title {
  font-size: 18px;
  margin: 10px 0;
}
.product-desc {
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
  height: 40px;
  overflow: hidden;
}
.current-price {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.original-price {
  color: #999;
  font-size: 14px;
  text-decoration: line-through;
  margin-left: 10px;
}
